*.project
*.pydevproject
*.gz
*.csv
*.dot
*.RDataTmp
*.Rhistory
*.tfrecord
*.RData
*.json
*.zip
*.Rproj

R/Sales Forecasting/.Rproj.user/*
.Rproj.user
*.xlsx

Courses/coursera/Machine Learning/Week 2/ex1/*
Courses/coursera/Machine Learning/Week 3/ex2/*
Courses/coursera/Machine Learning/Week 4/ex3/*
Courses/coursera/Machine Learning/Week 5/ex4/*
Courses/coursera/Machine Learning/Week 6/ex5/*
Courses/coursera/Machine Learning/Week 8/ex7/*
R/Sales Forecasting/Documentation/TCS/TCS.pptx
R/Sales Forecasting/Documentation/Documentation.docx
R/Sales Forecasting/Documentation/TCS/Screen_1.png
